html {
    height: 100%;
    margin: 0;
    width: 100%;
}
body {
    background: rgb(220, 221, 221);
}
h1{
    font-weight: 400;
    color: white;
 }
#container {
    background-color: mediumspringgreen;
    padding: 1%;
    margin-bottom: 5px;
}
p{
    color: white;
    padding: 8px;
}
span {
    color: rgb(39, 75, 141);
}
.pass {
    color: black;
    float: right;
}
#container2 {
    background-color: red;
    padding: 1%;
    margin-bottom: 5px;
}
button {
    background-color: #2ebe3a;
    color:#fff;
    font-size:15px;
    font-weight: bold;
    padding: 12px 45px;
    width: 90%;
    margin: 20px;
    border-radius: 12px;
}
 #sign {
    background-color: rgb(241, 10, 10);
    
}
form {
    background-color: aliceblue;
}
input {
    margin: 8px;
    border: 0.2px solid;
    padding: 5px;
    width: 90%;
}
label {
    padding: 8px;
}
select {
    width: 91.5%;
    padding: 5px;
    border: 0.2px solid;
    margin:8px;
}

#login {
    position: absolute;
    right: 50%;
    top: 8%;
    min-width: 45%;
    margin: 4%;
    padding: -1%;
}
#signup {
    position: absolute;
    left: 50%;
    top: 8%;
    min-width: 45%;
    margin: 4%;
    padding: -1%;
}
#lock {
    float: right;
    margin-top: 6%;
    margin-right: 10%;
}
#pencil {
    float: right;
    margin-top: 6%;
    margin-right: 10%;
}
